@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400,500,600&display=swap");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { 
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    background-color: transparent;
    background-position: bottom right;
    background-repeat: repeat;
    min-height: 100%;
  }
  /*Skeleton*/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(20px, 70px) 1fr 1fr minmax(50px, auto) 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "logo links links button" "intro intro img img" "info info info info" "article article article article" "end end end end";
    margin: 0px;
    padding: 0px;
  }
    /*Header Section*/  
  .logo { 
      grid-area: logo;     
}
  /*Header links*/
  #logo-img {
    width: 95;
    height: 15;
    margin-top: 26px;
    margin-left: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
    #logo-white{
        width: 95;
        height: 15;
    }

  .links { grid-area: links; 
    margin-top: 25px;
    margin-left: 140px;
    overflow: hidden;
    }

    .links a {
        text-align: center;
        font-size: 16px;
        color: hsl(233, 8%, 62%);
        text-decoration: none;
    }

    .links a:hover {
        border-bottom-style: solid;
        border-bottom-color:rgba(49, 196, 190, 0.75);
    }

    /*Header Buttons*/
  .button { grid-area: button; 
    margin-left: 40px;
    font-size: 12px;
    text-align: left; 
    }

    #button-header{
        margin-left: 50px;
    }

    .button button.btn-hover {
        width: 160px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 30px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
    
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .button button.btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .button button.btn-hover:focus {
        outline: none;
    }
    
    .button button.btn-hover.color-1 {
        background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }
    /*Intro secction*/
  .intro { grid-area: intro; 
    background-color: #fafafa;
    padding-top: 130px;
    padding-bottom: 80px;
}
  .intro h1 {
      color: hsl(233, 26%, 24%);
      font-family: 'Public Sans', sans-serif;
      font-weight: lighter;
      font-size: 40px;
      margin-left: 60px;
  }
  .intro p {
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans', sans-serif;
    font-weight: lighter;
    margin-left: 60px;
  }
  
  .img { grid-area: img; }

  .img img.background-img{
    position: absolute;
    width: 820px;
    height: 720px;
    top: -10px;
    right : -70px;
    z-index: -1;
  }
  .img img.mobile{
      position: absolute;
      width: 540px;
      height: 650px;
      right : 100px;
  }
  /*Info Section (Why choose Easybank?)*/
    .info {
        grid-area: info;
        background-color: #F4F5F7;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .info h1 {
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        margin-left: 60px;
    }
    .info p {
        color: hsl(233, 8%, 62%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        margin-left: 60px;
    }
    .info table {
        margin-left: 60px;
        text-align: left;
    }
    .info th {
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        margin-left: 60px;
      }
    
      .info td {
        color: hsl(233, 8%, 62%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        margin-left: 60px;
      }

    /*Latest Articles Section*/
    .article {
        grid-area: article;
        background-color: #fafafa;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .article h1 {
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        margin-left: 60px;
    }

    div.gallery {
        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        border-radius: 15px 15px 0px 0px;
      }
      
      div.gallery:hover {
        border: 1px solid rgb(232, 232, 232);
      }
      
      div.gallery img {
        width: 285px;
        height: 200px;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
      }
      
      div.desc {
        padding: 15px;
        text-align: left;
        color: hsl(233, 8%, 62%);
        font-weight: lighter;
      }
      .article h4{
        font-weight: lighter;
        font-size: 15px;
      }
      .article h3{
        font-weight: lighter;
        color: hsl(233, 26%, 24%);
      }
      .article h3:hover{
        color: rgba(49, 196, 190, 0.75);
      }
      .article p{
        font-size: 15px;
        font-weight: lighter;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 300px;
        margin-left: 45px;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

    /*Footer section*/
    .end {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(20px, 70px) 1fr;
        gap: 1px 1px;
        grid-template-areas: "footer footer footer" ;
        grid-area: end;
        background-color: #2D324C;
      }

      .end table {
        margin: 30px;
        text-align: left; 
        table-layout: fixed; 
        width: 150%;
      }
      .end td {
        color: hsl(233, 8%, 62%);
        font-family: 'Public Sans', sans-serif;
        font-weight: lighter;
        table-layout: fixed; 
        width: 200px;
      }
      .end img.social {
          width: 20px;
          height: 20px;
      }
      .end img.social:hover{
          background-color: rgba(49, 196, 190, 0.75);
      }
      .end td.copyr{
          font-size: 10px;
          text-align: left;
          padding-left: 30px;
      }
      .end a:hover {
          color: rgba(49, 196, 190, 0.75);
      }
      .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: ". . ." ". . .";
        grid-area: footer;
      }